body {
    font-size: large;
    margin-top: 20px;
    margin-left: 10px;
}

.navigation {
    margin: 10px;
}

.navigation > a {
    color: lime;
    padding-right: 30px;
}

.video-title {
    color: lightblue;
    font-size: xx-large;
    text-transform: uppercase;
}

.video {
    margin: 50px;
}

.saved-videos-title {
    font-size: xx-large;
}

.search-form {
    display: inline;
}