{% extends 'video_collection/base.html' %}
{% block content %}
{% load static %}

<div>
    <h3>{{ video.name }}</h3>
    <p>{{ video.notes }}</p>
    <iframe width="840" height="630" src="https://youtube.com/embed/{{ video.video_id }}"></iframe>
    <p>
        <a href="{{ video.url }}">{{ video.url }}</a>
    </p>
</div>

<form action="{% url 'delete_video' video.pk %}" method="POST">
    {% csrf_token %}
    <button type=submit class="delete">DELETE</button>
</form>

<script src="{% static 'js/confirm_delete.js' %}"></script>


{% endblock %}