{% extends 'video_collection/base.html' %}

{% block content %}

<h2 class="saved-videos-title">YOUR SAVED VIDEOS:</h2>

<h3>SEARCH</h3>

<form class="search-form" method="GET" action="{% url 'video_list' %}">
    {{ search_form }}
    <button class="search-button" type="submit">SEARCH</button>
</form>

<a href="{% url 'video_list' %}">
    <button>Clear Search</button>
</a>

<h3>{{ videos|length }} video{{ videos|length|pluralize }}</h3>


{% for video in videos %}

    <div class="video">
        <a class="video-title" href="{% url 'video_info' video.pk %}">{{ video.name }}</a>
        <iframe width="840" height="630" src="https://youtube.com/embed/{{ video.video_id }}"></iframe>
    </div>


{% empty %}

<p>No videos.</p>

{% endfor %}

{% endblock %}